<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>abvs1</key>
  <array>
    <string>uni0C15_uni0C4D</string>
    <string>uni0C16_uni0C4D</string>
    <string>uni0C17_uni0C4D</string>
    <string>uni0C18_uni0C4D</string>
    <string>uni0C19_uni0C4D</string>
    <string>uni0C1A_uni0C4D</string>
    <string>uni0C1B_uni0C4D</string>
    <string>uni0C1C_uni0C4D</string>
    <string>uni0C1D_uni0C4D</string>
    <string>uni0C1E_uni0C4D</string>
    <string>uni0C1F_uni0C4D</string>
    <string>uni0C20_uni0C4D</string>
    <string>uni0C21_uni0C4D</string>
    <string>uni0C22_uni0C4D</string>
    <string>uni0C23_uni0C4D</string>
    <string>uni0C24_uni0C4D</string>
    <string>uni0C25_uni0C4D</string>
    <string>uni0C26_uni0C4D</string>
    <string>uni0C27_uni0C4D</string>
    <string>uni0C28_uni0C4D</string>
    <string>uni0C2A_uni0C4D</string>
    <string>uni0C2B_uni0C4D</string>
    <string>uni0C2C_uni0C4D</string>
    <string>uni0C2D_uni0C4D</string>
    <string>uni0C2E_uni0C4D</string>
    <string>uni0C2F_uni0C4D</string>
    <string>uni0C31_uni0C4D</string>
    <string>uni0C32_uni0C4D</string>
    <string>uni0C33_uni0C4D</string>
    <string>uni0C35_uni0C4D</string>
    <string>uni0C36_uni0C4D</string>
    <string>uni0C37_uni0C4D</string>
    <string>uni0C38_uni0C4D</string>
    <string>uni0C39_uni0C4D</string>
    <string>uni0C15_uni0C37_uni0C4D</string>
  </array>
  <key>blws1</key>
  <array>
    <string>uni0C15_uni0C4D</string>
    <string>uni0C16_uni0C4D</string>
    <string>uni0C17_uni0C4D</string>
    <string>uni0C18_uni0C4D</string>
    <string>uni0C19_uni0C4D</string>
    <string>uni0C1A_uni0C4D</string>
    <string>uni0C1B_uni0C4D</string>
    <string>uni0C1C_uni0C4D</string>
    <string>uni0C1D_uni0C4D</string>
    <string>uni0C1E_uni0C4D</string>
    <string>uni0C1F_uni0C4D</string>
    <string>uni0C20_uni0C4D</string>
    <string>uni0C21_uni0C4D</string>
    <string>uni0C22_uni0C4D</string>
    <string>uni0C23_uni0C4D</string>
    <string>uni0C24_uni0C4D</string>
    <string>uni0C25_uni0C4D</string>
    <string>uni0C26_uni0C4D</string>
    <string>uni0C27_uni0C4D</string>
    <string>uni0C28_uni0C4D</string>
    <string>uni0C2A_uni0C4D</string>
    <string>uni0C2B_uni0C4D</string>
    <string>uni0C2C_uni0C4D</string>
    <string>uni0C2D_uni0C4D</string>
    <string>uni0C2E_uni0C4D</string>
    <string>uni0C2F_uni0C4D</string>
    <string>uni0C31_uni0C4D</string>
    <string>uni0C32_uni0C4D</string>
    <string>uni0C33_uni0C4D</string>
    <string>uni0C35_uni0C4D</string>
    <string>uni0C36_uni0C4D</string>
    <string>uni0C37_uni0C4D</string>
    <string>uni0C38_uni0C4D</string>
    <string>uni0C39_uni0C4D</string>
  </array>
  <key>blws2</key>
  <array>
    <string>uni0C15_uni0C4D</string>
    <string>uni0C16_uni0C4D</string>
    <string>uni0C17_uni0C4D</string>
    <string>uni0C18_uni0C4D</string>
    <string>uni0C19_uni0C4D</string>
    <string>uni0C1A_uni0C4D</string>
    <string>uni0C1B_uni0C4D</string>
    <string>uni0C1C_uni0C4D</string>
    <string>uni0C1D_uni0C4D</string>
    <string>uni0C1E_uni0C4D</string>
    <string>uni0C1F_uni0C4D</string>
    <string>uni0C20_uni0C4D</string>
    <string>uni0C21_uni0C4D</string>
    <string>uni0C22_uni0C4D</string>
    <string>uni0C23_uni0C4D</string>
    <string>uni0C24_uni0C4D</string>
    <string>uni0C25_uni0C4D</string>
    <string>uni0C26_uni0C4D</string>
    <string>uni0C27_uni0C4D</string>
    <string>uni0C28_uni0C4D</string>
    <string>uni0C2A_uni0C4D</string>
    <string>uni0C2B_uni0C4D</string>
    <string>uni0C2C_uni0C4D</string>
    <string>uni0C2D_uni0C4D</string>
    <string>uni0C2E_uni0C4D</string>
    <string>uni0C2F_uni0C4D</string>
    <string>uni0C30_uni0C4D</string>
    <string>uni0C31_uni0C4D</string>
    <string>uni0C32_uni0C4D</string>
    <string>uni0C33_uni0C4D</string>
    <string>uni0C35_uni0C4D</string>
    <string>uni0C36_uni0C4D</string>
    <string>uni0C37_uni0C4D</string>
    <string>uni0C38_uni0C4D</string>
    <string>uni0C39_uni0C4D</string>
    <string>uni0C15_uni0C4D_uni0C37_uni0C4D</string>
  </array>
  <key>blws3</key>
  <array>
    <string>uni0C15_uni0C4D</string>
    <string>uni0C16_uni0C4D</string>
    <string>uni0C17_uni0C4D</string>
    <string>uni0C18_uni0C4D</string>
    <string>uni0C19_uni0C4D</string>
    <string>uni0C1A_uni0C4D</string>
    <string>uni0C1B_uni0C4D</string>
    <string>uni0C1C_uni0C4D</string>
    <string>uni0C1D_uni0C4D</string>
    <string>uni0C1E_uni0C4D</string>
    <string>uni0C1F_uni0C4D</string>
    <string>uni0C20_uni0C4D</string>
    <string>uni0C21_uni0C4D</string>
    <string>uni0C22_uni0C4D</string>
    <string>uni0C23_uni0C4D</string>
    <string>uni0C24_uni0C4D</string>
    <string>uni0C25_uni0C4D</string>
    <string>uni0C26_uni0C4D</string>
    <string>uni0C27_uni0C4D</string>
    <string>uni0C28_uni0C4D</string>
    <string>uni0C2A_uni0C4D</string>
    <string>uni0C2B_uni0C4D</string>
    <string>uni0C2C_uni0C4D</string>
    <string>uni0C2D_uni0C4D</string>
    <string>uni0C2E_uni0C4D</string>
    <string>uni0C2F_uni0C4D</string>
    <string>uni0C31_uni0C4D</string>
    <string>uni0C32_uni0C4D</string>
    <string>uni0C33_uni0C4D</string>
    <string>uni0C35_uni0C4D</string>
    <string>uni0C36_uni0C4D</string>
    <string>uni0C37_uni0C4D</string>
    <string>uni0C38_uni0C4D</string>
    <string>uni0C39_uni0C4D</string>
    <string>uni0C15_uni0C4D_uni0C37_uni0C4D</string>
    <string>uni0C15_uni0C37_uni0C4D</string>
    <string>uni0C15_uni0C37_uni0C4D_uni0C2E_uni0C4D</string>
    <string>uni0C15_uni0C3F_uni0C37_uni0C4D_uni0C2E_uni0C4D</string>
    <string>uni0C15_uni0C40_uni0C37_uni0C4D_uni0C2E_uni0C4D</string>
    <string>uni0C15_uni0C4D.blws</string>
    <string>uni0C16_uni0C4D.blws</string>
    <string>uni0C17_uni0C4D.blws</string>
    <string>uni0C18_uni0C4D.blws</string>
    <string>uni0C19_uni0C4D.blws</string>
    <string>uni0C1A_uni0C4D.blws</string>
    <string>uni0C1B_uni0C4D.blws</string>
    <string>uni0C1C_uni0C4D.blws</string>
    <string>uni0C1D_uni0C4D.blws</string>
    <string>uni0C1E_uni0C4D.blws</string>
    <string>uni0C1F_uni0C4D.blws</string>
    <string>uni0C20_uni0C4D.blws</string>
    <string>uni0C21_uni0C4D.blws</string>
    <string>uni0C22_uni0C4D.blws</string>
    <string>uni0C23_uni0C4D.blws</string>
    <string>uni0C24_uni0C4D.blws</string>
    <string>uni0C25_uni0C4D.blws</string>
    <string>uni0C26_uni0C4D.blws</string>
    <string>uni0C27_uni0C4D.blws</string>
    <string>uni0C28_uni0C4D.blws</string>
    <string>uni0C2A_uni0C4D.blws</string>
    <string>uni0C2B_uni0C4D.blws</string>
    <string>uni0C2C_uni0C4D.blws</string>
    <string>uni0C2D_uni0C4D.blws</string>
    <string>uni0C2E_uni0C4D.blws</string>
    <string>uni0C2F_uni0C4D.blws</string>
    <string>uni0C31_uni0C4D.blws</string>
    <string>uni0C32_uni0C4D.blws</string>
    <string>uni0C33_uni0C4D.blws</string>
    <string>uni0C35_uni0C4D.blws</string>
    <string>uni0C36_uni0C4D.blws</string>
    <string>uni0C37_uni0C4D.blws</string>
    <string>uni0C38_uni0C4D.blws</string>
    <string>uni0C39_uni0C4D.blws</string>
  </array>
  <key>class12</key>
  <array>
    <string>uni0C15.haln</string>
    <string>uni0C16.haln</string>
    <string>uni0C17.haln</string>
    <string>uni0C18.haln</string>
    <string>uni0C19.haln</string>
    <string>uni0C1A.haln</string>
    <string>uni0C1B.haln</string>
    <string>uni0C1C.haln</string>
    <string>uni0C1D.haln</string>
    <string>uni0C1E.haln</string>
    <string>uni0C1F.haln</string>
    <string>uni0C20.haln</string>
    <string>uni0C21.haln</string>
    <string>uni0C22.haln</string>
    <string>uni0C23.haln</string>
    <string>uni0C24.haln</string>
    <string>uni0C25.haln</string>
    <string>uni0C26.haln</string>
    <string>uni0C27.haln</string>
    <string>uni0C28.haln</string>
    <string>uni0C2A.haln</string>
    <string>uni0C2B.haln</string>
    <string>uni0C2C.haln</string>
    <string>uni0C2D.haln</string>
    <string>uni0C2E.haln</string>
    <string>uni0C2F.haln</string>
    <string>uni0C30.haln</string>
    <string>uni0C31.haln</string>
    <string>uni0C32.haln</string>
    <string>uni0C33.haln</string>
    <string>uni0C35.haln</string>
    <string>uni0C36.haln</string>
    <string>uni0C37.haln</string>
    <string>uni0C38.haln</string>
    <string>uni0C39.haln</string>
    <string>uni0C15_uni0C37_uni0C4D_uni0C4D</string>
  </array>
  <key>haln1</key>
  <array>
    <string>uni0C15_uni0C4D.blws</string>
    <string>uni0C16_uni0C4D.blws</string>
    <string>uni0C17_uni0C4D.blws</string>
    <string>uni0C18_uni0C4D.blws</string>
    <string>uni0C19_uni0C4D.blws</string>
    <string>uni0C1A_uni0C4D.blws</string>
    <string>uni0C1B_uni0C4D.blws</string>
    <string>uni0C1C_uni0C4D.blws</string>
    <string>uni0C1D_uni0C4D.blws</string>
    <string>uni0C1E_uni0C4D.blws</string>
    <string>uni0C1F_uni0C4D.blws</string>
    <string>uni0C20_uni0C4D.blws</string>
    <string>uni0C21_uni0C4D.blws</string>
    <string>uni0C22_uni0C4D.blws</string>
    <string>uni0C23_uni0C4D.blws</string>
    <string>uni0C24_uni0C4D.blws</string>
    <string>uni0C25_uni0C4D.blws</string>
    <string>uni0C26_uni0C4D.blws</string>
    <string>uni0C27_uni0C4D.blws</string>
    <string>uni0C28_uni0C4D.blws</string>
    <string>uni0C2A_uni0C4D.blws</string>
    <string>uni0C2B_uni0C4D.blws</string>
    <string>uni0C2C_uni0C4D.blws</string>
    <string>uni0C2D_uni0C4D.blws</string>
    <string>uni0C2E_uni0C4D.blws</string>
    <string>uni0C2F_uni0C4D.blws</string>
    <string>uni0C30_uni0C4D.blws</string>
    <string>uni0C31_uni0C4D.blws</string>
    <string>uni0C32_uni0C4D.blws</string>
    <string>uni0C33_uni0C4D.blws</string>
    <string>uni0C35_uni0C4D.blws</string>
    <string>uni0C36_uni0C4D.blws</string>
    <string>uni0C37_uni0C4D.blws</string>
    <string>uni0C38_uni0C4D.blws</string>
    <string>uni0C39_uni0C4D.blws</string>
    <string>uni0C15_uni0C4D_uni0C37_uni0C4D.blws</string>
  </array>
  <key>haln2</key>
  <array>
    <string>uni0C15</string>
    <string>uni0C16</string>
    <string>uni0C17</string>
    <string>uni0C18</string>
    <string>uni0C19</string>
    <string>uni0C1A</string>
    <string>uni0C1B</string>
    <string>uni0C1C</string>
    <string>uni0C1D</string>
    <string>uni0C1E</string>
    <string>uni0C1F</string>
    <string>uni0C20</string>
    <string>uni0C21</string>
    <string>uni0C22</string>
    <string>uni0C23</string>
    <string>uni0C24</string>
    <string>uni0C25</string>
    <string>uni0C26</string>
    <string>uni0C27</string>
    <string>uni0C28</string>
    <string>uni0C2A</string>
    <string>uni0C2B</string>
    <string>uni0C2C</string>
    <string>uni0C2D</string>
    <string>uni0C2E</string>
    <string>uni0C2F</string>
    <string>uni0C30</string>
    <string>uni0C31</string>
    <string>uni0C32</string>
    <string>uni0C33</string>
    <string>uni0C35</string>
    <string>uni0C36</string>
    <string>uni0C37</string>
    <string>uni0C38</string>
    <string>uni0C39</string>
    <string>uni0C15_uni0C37_uni0C4D</string>
  </array>
</dict>
</plist>
